@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Global styles */
html, body, #root {
  height: 100%;
}

body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
